.logs-container {
  padding-top: 10px;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.logs-container .log-item {
  display: flex;
  gap: 7px;
  width: 100%;
  box-shadow: 0px 0px 3px 3px var(--color-soft);
  border-left: 2px solid var(--color-text-active);
  border-bottom-right-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
  height: 50px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 2px 8px;
}

/* .log-item hr {
  height: 100%;
  width: 1px;
  margin: 0px;
}

} */
.log-item .date {
  font-size: 12px;
  color: var(--color-icon);
}
.log-item .log-data {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  flex: 1;
  overflow: hidden;
}
.log-item .text-content {
  flex: 1;
}
